<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue demo</title>
    <!--        定义网速慢的插值表达式不展示在页面上 -->
    <style>

        [v-cloak] {
            display: none;
        }

    </style>
</head>
<body>
<div id="app">
    <input type="text" v-model="n1">
    <select name="" id="" v-model="operation">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <input type="text" v-model="n2">
    <input type="button" value="=" @click="getResult">
    <input type="text" v-model="result" :style="wrongStyle">


</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<!--

基于  v-model 数据双向绑定的 计算器小demo

-->


<script>
    var vm = new Vue({
        el: "#app",
        //data 存放的是页面所有要用到的属性，相当于MVVM中的 model
        data: {
            n1: null,
            n2: null,
            operation: '+',
            result: null,
            wrongStyle: null
        },
        methods: {
            getResult() {
                if (this.n1 != null && this.n2 != null) {
                    if (this.operation === '/' && parseInt(this.n2) === 0) {
                        this.result = '计算错误'
                        return;
                    }
                    // this.result = eval(this.n1 + this.operation + this.n2); //方法一
                    switch (this.operation) {   //方法二
                        case '+':
                            this.result = parseInt(this.n1) + parseInt(this.n2);
                            break;
                        case '-':
                            this.result = parseInt(this.n1) - parseInt(this.n2);
                            break;
                        case '*':
                            this.result = parseInt(this.n1) * parseInt(this.n2);
                            break;
                        case '/':
                            this.result = parseInt(this.n1) / parseInt(this.n2);
                            break;
                    }
                    return;
                }

                return;
            },
        },
        watch: {
            //对属性result添加监听，如果result的值改变，那么看看是否为违规结果，违规结果如字符串 将用红字标明
            result: function (newValue, oldValue) {
                //如果不是数字，用 parseInt 解析后为  NaN 类型
                const parseResult = parseInt(newValue)
                if (isNaN(parseResult)) {
                    this.wrongStyle = {
                        color: 'red'
                    }
                }else{
                    this.wrongStyle=null
                }

            }
        }

    })

</script>

</body>


</html>
