<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue demo</title>
    <!--        定义网速慢的插值表达式不展示在页面上 -->

</head>
<body>
<div id="app">
    <!--v-for遍历普通数组-->
    <h1 v-for="(item,i) in arr1" >值为：{{item}}------索引为：{{i}}</h1>
    <hr>

    <!--v-for遍历数字-->
    <h1 v-for="num in 10" >{{num}}</h1>
    <hr>

    <!--v-for遍历对象数组-->
    <h1 v-for="(item,i) in objArr1">id为：{{item.id}},name为：{{item.name}},age为：{{item.age}}-----索引为：{{i}}</h1>
    <hr>

    <!--v-for遍历对象属性-->
    <h1 v-for="(val,key,i) in student">值为：{{val}},键为：{{key}},索引为：{{i}}</h1>



</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<!--



-->


<script>
    var vm = new Vue({
        el: "#app",
        //data 存放的是页面所有要用到的属性，相当于MVVM中的 model
        data: {
            arr1:[1,2,3,4,5],
            objArr1:[
                {id:1,name:"张三",age:18},
                {id:2,name:"李四",age:21},
                {id:3,name:"王五",age:86}
            ],
            student:{
                stuNo:'12345678',
                name:'刘长根',
                gender:'男',
                age:22,
                major:'计算机科学与技术',
                class:'计算机科学与技术1班'
            },
        },
        methods: {

        },

    })

</script>

</body>


</html>
